.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 720px;
}

.center .form {
    border: 3px solid rgb(105, 152, 206);
    width: 500px;
    justify-content: center;
    align-items: center;
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 5px;
}

.form-label {
    width: 300px;
    margin-left: 16px;
}

.cssName {
    display: flex;
    margin-bottom: 15px;
}

.cssSexual {
    display: flex;
}

.Name {
    display: inline-block;
    border: 2px solid rgb(67, 147, 238);
    background-color: rgb(105, 152, 206);
    width: 100px;
    margin-right: 10px;
    padding: 5px 10px 5px 5px;
    color: white;
    font-size: 18px;
}

.inputname{
    border: 2px solid rgb(28, 114, 212);
}
.Sexual {
    background-color: rgb(105, 152, 206);
    border: 2px solid rgb(67, 147, 238);
    width: 102px;
    margin-right: 10px;
    padding: 5px 10px 5px 5px;
    color: white;
    font-size: 18px;
}

.check-box{
    width: 100px;
    align-self: center;
}

.khoa{
    display: flex;
    margin-top: 15px;
}

.phankhoa{
    background-color: rgb(105, 152, 206);
    border: 2px solid rgb(67, 147, 238);
    width: 92px;
    margin-right: 10px;
    padding: 5px 10px 5px 5px;
    color: white;
    font-size: 18px;
}
#cars{
    border: 2px solid rgb(67, 147, 238);
}

.push {
    text-align: center;
    margin-left: 50%;
}

.submit {
    padding: 10px 30px 10px 30px;
    background-color: rgb(77, 145, 77);
    border: 1px solid rgb(87, 87, 170);
    border-radius: 8px;
    color: white;
    text-align: -webkit-center;
    margin-top: 30px;
}
